<form method="POST" action="/notes/destroy/confirm">
    <div class="container-fluid">
        {{#if user}}
        <input type="hidden" name="notekey" value="{{#if notekey}}{{notekey}}{{/if}}">
        <p class="form-text">Delete {{#if notetitle}}{{notetitle}}{{/if}}?</p>
        <div class="btn-group">
            <button type="submit" class="btn btn-outline-dark">DELETE</button>
            <a href="/notes/view?key={{#if notekey}}{{notekey}}{{/if}}" class="btn btn-outline-dark" role="button">Cancel</a>
        </div>
        {{else}}
        {{> not-logged-in}}
        {{/if}}
    </div>
</form>