<form method="POST" action="/notes/destroy/confirm">
    <input type="hidden" name="notekey" value="{{#if notekey}}{{notekey}}{{/if}}">
    <p>Delete {{#if notetitle}}{{notetitle}}{{/if}}?</p>
    <br><input type="submit" value="DELETE">
    <a href="/notes/view?key={{#if notekey}}{{notekey}}{{/if}}">Cancel</a>
</form>