<div class="container-fluid">
    <div class="row">
        <div class="col-12 btn-group-vertical" role="group">
            <form method="POST" action="/users/login">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" value="" placeholder="Your username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" value="" placeholder="Your password" class="form-control">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</div>