<div class="mt-4 p-5 bg-light text-dark rounded">
  <h1>Not Logged In</h1>
  <p>You need to be logged in to perform this action</p>
  <p><a href="/users/login" class="btn btn-dark">Login</a></p>
</div>